/*
Nao mexam aqui :) 
Aqui ficaram os estilos da pagina, nao os do componente.
Os do components ficam dentro da pasta dele mesmo ou na pasta de componentes da squad (caso sejam usados em mais de uma tela/pagina)
*/